@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-brand-offwhite text-brand-black font-sans;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: -0.02em;
  }
}

.text-balance {
  text-wrap: balance;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.swiper-custom-pagination .swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  background-color: #050505;
  opacity: 0.2;
  transition: all 0.3s ease;
  border-radius: 50%;
}

.swiper-custom-pagination .swiper-pagination-bullet-active {
  opacity: 1;
  width: 24px;
  border-radius: 10px;
}

@keyframes marquee-infinite {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-33.33%);
  }
}

.animate-marquee-infinite {
  animation: marquee-infinite 15s linear infinite;
}